fastapi
uvicorn[standard]
python-multipart
llama-parse
llama-index
pinecone
pydantic
python-dotenv
requests
crawl4ai
playwright
aiofiles
cors
fastapi-cors
langchain-openai
langchain-community
google-search-results
beautifulsoup4
PyJWT
email-validator
passlib[bcrypt]
python-jose[cryptography]
supabase
psycopg2-binary